#display-image{
  width: 100%;
  height: auto;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
.height {
  max-height: 300px;
  display: block;
}
.card .post-body:hover {
  background-color: #ccc !important;
}